<%= link_to "Zoos", '/zoos' %>
<%= link_to "Volunteers", '/volunteers' %>

<h1>All Volunteers</h1>

<% @volunteers.each do |volunteer|%>
  <h3><%= volunteer.name %></h3>
  <h4>Certified? <%= volunteer.certified_trainer %></h4>
  <h4>Years Experience: <%= volunteer.years_of_experience %></h4>
<% end %>
