<%= link_to "Zoos", '/zoos' %>
<%= link_to "Volunteers", '/volunteers' %>

<h1><%= @volunteer.name %></h1>

<h3>Certified Trainer? <%= @volunteer.certified_trainer %></h3>
<h3>Years of Experience: <%= @volunteer.years_of_experience %></h3>

<p><%= link_to "Update Volunteer", "/volunteers/#{@volunteer.id}/edit" %></p><br>
<%= button_to "Delete Volunteer", "/volunteers/#{@volunteer.id}", method: :delete%>
