<%= link_to "Rides", '/rides' %>
<%= link_to "Amusement Parks", '/amusement_parks' %>
<%= link_to "Add New Ride", "/amusement_parks/#{@amusement_park.id}/rides/new" %>

<h1><%= @amusement_park.name %></h1>

<% @rides_by_amusement_park.each do |ride|%>
  <h3><%= ride.name %></h3>
  <h4>Is it a roller coaster? <%= ride.roller_coaster %></h4>
  <h4>Top Speed: <%= ride.top_speed %>MPH</h4>
<% end %>
