<%= link_to "Rides", '/rides' %>
<%= link_to "Amusement Parks", '/amusement_parks' %>
<%= link_to "Add New Ride", "/amusement_parks/#{@amusement_park.id}/rides/new" %>

<h1><%= @amusement_park.name %></h1>
<%= link_to "Alphabetize Rides", "/amusement_parks/#{@amusement_park.id}/rides?alphabetize=true" %>

<% @rides_by_amusement_park.each do |ride|%>
  <h3><%= ride.name %></h3>
  <p>Is it a roller coaster? <%= ride.roller_coaster %></p>
  <p>Top Speed: <%= ride.top_speed %>MPH</p>
  <p>Ride ID: <%= ride.id %></p>
  <p>Created on: <%= ride.created_at %></p>
  <p>Updated on: <%= ride.updated_at %></p>

<% end %>

<%= form_with url: "/amusement_parks/#{@amusement_park.id}/rides", method: :get, local: true do |form| %>
  <%= form.label :top_speed %>
  <%= form.number_field :top_speed %><br><br>
  <%= form.submit "Submit" %>
<% end %>
