<%= link_to "Rides", '/rides' %>
<%= link_to "Amusement Parks", '/amusement_parks' %>
<%= link_to "Rides by Amusement Park", "/amusement_parks/#{@amusement_park.id}/rides" %>
<%= link_to "Edit Amusement Park", "/amusement_parks/#{@amusement_park.id}/edit" %>

<h1><%= @amusement_park.name %></h1>

<h3>Cost of Entry: <%= @amusement_park.cost_of_entry %></h3>
<h3>Is Open Year Round: <%= @amusement_park.open_year_round %></h3>
<h3>Number of Rides: <%= @amusement_park.rides.count %></h3>
