<%= link_to "Rides", '/rides' %>
<%= link_to "Amusement Parks", '/amusement_parks' %>

<h1>All Rides</h1>

<% @rides.each do |ride|%>
  <h3><%= ride.name %></h3>
  <p>Is it a roller coaster? <%= ride.roller_coaster %></p>
  <p>Top Speed: <%= ride.top_speed %>MPH</p>
  <p>Ride ID: <%= ride.id %></p>
  <p>Created on: <%= ride.created_at %></p>
  <p>Updated on: <%= ride.updated_at %></p>
  <h5> <%= link_to "Edit #{ride.name}", "/rides/#{ride.id}/edit" %> </h5>
  <h5><%= link_to "Delete #{ride.name}", "/rides/#{ride.id}", method: :delete %> </h5>

<% end %>
